<html lang="en">

  <head>
    <meta charset="UTF-16" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/about.css" />
    <title>pages</title>
  </head>

  <body>
    <header>
      <nav id="blur">
        <div class="topnav">
          <div class="profile">
            <img src="assets/gmaildp.gif" alt="My Image" id="pro_gif" />
            <h4 id="pro_name">Ashutosh Saha</h4>
          </div>
          <div id="search" onclick="toggle()">
            <label id="button"><i class="fa fa-search"></i> Search</label>
          </div>
        </div>
        <div id="image_div">
          <img src="assets/devloper.jpeg" alt="" id="dev_img" />
        </div>
      </nav>
    </header>
    <div id="popup">
      <i class="fa fa-search"></i>
      <input type="text" name="Search" placeholder="Search..." id="input" />
      <hr />
      <div id="cancle">
        <label onclick="toggle()">Cancel</label>
      </div>
    </div>
    <section id="section_one">
      <div id="pro_big_gif_div">
        <img src="assets/gmaildp.gif" alt="" id="pro_big_gif" />
      </div>
      <div id="big_name">
        <span>Ashutosh Saha</span>
      </div>
      <div id="profession">
        <span>Web Devloper</span>
      </div>
      <div id="hey">
        <span>Hey,👋🏻</span>
      </div>
      <div id="para">
        <p>
          Hello there. My name is
          <strong>Ashutosh Saha</strong>, and I'm a passionate developer with a
          talent for creating dynamic web apps and a profound interest for all
          things computer. I'm on a quest to convert ideas into attractive,
          functional, and user-centric digital experiences, with a concentration
          on back-end development using
          <strong>Node.js</strong>
          and
          <strong>Express</strong>, and a sharp eye for front-end aesthetics
          using
          <strong>HTML</strong>
          and
          <strong>CSS</strong>.
        </p>
        <p>
          My foray into the realm of coding began with an intense curiosity
          about how the web works behind the scenes. I was enthralled by the
          power of Node.js and Express as I dug further, exploiting their
          capabilities to develop powerful and efficient server-side solutions.
          I like the challenge of architecting smooth interactions between users
          and apps, which includes everything from creating
          <strong>RESTful APIs</strong>
          to implementing
          <strong>user authentication systems</strong>.
        </p>
        <p>
          Data is the heartbeat of any application, and my expertise extends to
          harnessing the flexibility and scalability of
          <strong>MongoDB</strong>
          to design databases that not only store information but optimize its
          retrieval. Crafting
          <strong>database schemas</strong>
          that align with application needs and ensuring data integrity are my
          top priorities.
        </p>
        <p>
          Programming isn't just about writing code; for me it's about
          <strong>solving problems</strong>
          and unlocking new potentials. I view problems as opportunities for
          development and creativity. I'm committed to pushing limits and
          embracing the developing world of technology, whether it's designing a
          scalable backend system or weaving elegant interfaces.
        </p>
        <p>
          Let's connect for future partnerships if you're a developer,
          entrepreneur, or just inquisitive about coding. Please
          <a
            href="https://www.linkedin.com/in/ashutosh-saha-b6550b240/"
            target="_blank"
            rel="noopener noreferrer"
          >contact</a>
          me. Together, we can use code to make ideas a reality!
        </p>
      </div>
    </section>
    <script src="js/about.js"></script>
  </body>

</html>