<footer class="handels_gyan">
    <div class="gyan">
      <h5>
        Let's connect for future partnerships if you're a developer, entrepreneur, or just inquisitive about coding. Please contact me using the information given. Together, we can use code to make ideas a reality!
      </h5>
    </div>
    <hr class="hatjabhai" />
    <div class="handels">
      <a
        href="https://github.com/Ash310u"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          src="https://cdns.iconmonstr.com/wp-content/releases/preview/2012/240/iconmonstr-github-4.png"
          alt="Github"
          class="ye"
      /></a>
      <a
        href="https://www.linkedin.com/in/ashutosh-saha-b6550b240/"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          src="https://cdn.whatagraph.com/medialibrary-prod/2202/LinkedIn.svg"
          alt="linkedin"
          class="ye"
      /></a>
      <a
        href="http://www.twitter.com/Ash310u"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          src="https://cdn.whatagraph.com/medialibrary-prod/2200/Twitter.svg"
          alt="twitter"
          class="ye"
      /></a>
      <a
        href="https://www.instagram.com/ash233u/"
        target="_blank"
        rel="noopener noreferrer"
        ><img
          src="https://cdn.whatagraph.com/medialibrary-prod/2198/Instagram.svg"
          alt="instagram"
          class="ye"
      /></a>
    </div>
  </footer>