<header class="fixed-nav">
    <div class="topnav">
        <a href="#home" class="active">B N 7</a>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
            <a href="/" class="yep">Home</a>
            <a href="/about" class="yep">About</a>
            <a href="/work" class="yep">Work</a>
            <a href="/blogs" class="yep">Blogs</a>
            <a href="/contact" class="yep">Contact</a>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</header>