/* set margin zero of whole page */
* {
  box-sizing: border-box;
  margin: 0;
}

/* set font family by using body */
body {
  color: #414141;
  background: #fff;
  font-family: "Poppins", sans-serif;
}

/* main */
nav#blur.active {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

/* navbar style */
nav {
  overflow: hidden;
  background-color: #ffffff;
}

/* setting margin in inner part of navbar */
.topnav {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

/* /* search button style */
#search {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border: none;
  background-color: #ffffff;
}

#search label {
  border: none;
  font-weight: 200;
  padding: 0px 5px;
}

#search:hover {
  border: solid #edeade;
  background: #edeade;
  border-radius: 7px;
}

/* inner style of profile */
.profile {
  display: flex;
  align-items: center;
  border-radius: 7px;
  padding: 5px;
}

/* inner style of profile for hover */
.profile:hover {
  border: solid #edeade;
  background: #edeade;
}

/* style of profile img */
#pro_gif {
  border-radius: 50%;
  width: 25px;
  object-fit: contain;
}

/* style of profile name */
#pro_name {
  font-weight: 400;
  padding: 0px 10px;
}

/* popup */
#popup {
  background-color: #ffffff;
  position: fixed;
  padding: 0px 20px;
  border: none;
  width: 600px;
  height: 100px;
  border-radius: 10px;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popup #input {
  border: none;
  width: 500px;
  height: 40px;
  margin: 5px;
  font-size: 15px;
  outline: none;
}

::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

#popup label {
  text-decoration: none;
  padding: 5px;
  margin-left: 20px;
  font-size: 15px;
  color: #414141;
  font-weight: 400;
}

#cancle {
  margin: 10px;
  margin-left: 450px;
}

#cancle :hover {
  border-radius: 7px;
  border: solid #edeade;
  background: #edeade;
}

#popup.active {
  top: 15%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

/* backgroud image */

#image_div {
  height: 40vh;
}

#dev_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* section one*/

#section_one {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20%;
  right: 20%;
}

/* profile big image */

#pro_big_gif_div {
  position: absolute;
  top: -10%;
}

#pro_big_gif {
  width: 150px;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}

/* Big name */

#big_name {
  font-size: 40px;
  font-weight: 650;
  position: relative;
  padding-top: 150px;
}

/* profession */

#profession {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  padding-top: 40px;
}

/* hey */

#hey {
  font-size: 20px;
  font-weight: 450;
  position: relative;
  padding-top: 30px;
}

/* para style */

#para p {
  padding: 5px 0px;
}
